.nav-link  {
    color: black !important; 
}

.nav-link.active {
    font-weight: bold !important;
}

.table {
    text-align: center;
    vertical-align: middle;
}

.cell {
    width: 100%;
    height: 1.75em;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0em;
    min-width: 95px;
}

.input-group-text {
    font-size: 0.875rem
}

#LogOutputTextArea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}



/* https://stackoverflow.com/questions/33455204/quad-state-checkbox */
/* CYCLESTATE FOR ARRAY CELLS */

.cyclestate {
    display: inline-grid;
}

.cyclestate label {
    grid-area: 1 / 1;
    background-color: white;
    color: black;
    z-index: 0;
    opacity: 0;
}

.cyclestate input {
    position: absolute;
    z-index: -1;
}

.cyclestate input:checked+label {
    opacity: 1;
}

.cyclestate input:first-of-type+label {
    z-index: 2;
}

.cyclestate input:checked+label+input+label {
    opacity: 0;
    z-index: 2;
}


/* -- Unrelated and accessibility -- */
.cyclestate {
    border: none;
    padding: 0;
}

.cyclestate legend {
    position: absolute;
}

.cyclestate label {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.cyclestate label::before {
    /* content: '← '; */
}

.cyclestate label::after {
    content: ' →';
}

.cyclestate label::before,
label::after {
    color: transparent;
}

.cyclestate input:focus-visible+label {
    outline: solid;
}

.cyclestate input:focus-visible+label::before,
.cyclestate input:focus-visible+label::after {
    color: currentcolor;
}

:root {
    background: dimgray;
    color: snow;
}

:link {
    color: aqua;
}

:visited {
    color: lime;
}



/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* #fileUploadSection {

} */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}